OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
GITHUB_TOKEN=k-proj-xSMkPUZfYnf8DFg3knDZltkcqilMfd9WYN_0M1W6uxNDTFzT9Vw6-XQ-EyfCvEpIaEQ7lvhOHiT3BlbkFJpx-qx7uQaGY6J2M0TvoH6KKeoHFsBPlWqAT91yFwBMqzgEZ3NF-Y0CpOCXf6Sr5x8aLLojUFYA
